.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: gray;
    padding: 0 30px;
    margin-bottom: 1rem;
    
}

.navbar-title {
    text-decoration: none;
    outline: none;
    color: white;
    font-weight: 500;
    font-size: 30px;
    transition: 0.3s ease-in;
}

.navbar-title:hover {
    color: black;
}

.navbar-author {
    color: white;
    transition: 0.3s ease-in;
}

.navbar-author:hover {
    color: black;
}

@media only screen and (max-width : 300px) {
    .navbar-main {
        flex-direction: column;
    }
    .navbar-title {
        margin-top: 1rem;
    }
}